* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    background-color:#2965f1;
    padding: 23px 0    ;
    
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
}

.main-section {
    background-color:#fafaff;
    padding: 60px;
    min-height: 100vh;   
}

.main-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin: 0 0 20px 0;
}

.main-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color:#FFFFFF;
    font-family: "Inter", sans-serif;
    margin: 100px 0; 
}

select{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #303030;
    appearance: none; /*значение, которое убирает стадндартные значения установленные по умолчанию*/
    background-repeat: no-repeat; /* для фексирования заднего фона без дублирования*/
    background-position: right 12px top 50%; /*позиционорования заднего фона по центру справа*/

    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    
    background-image: url(/assets/ep_arrow-down.svg); /*заданее заднего фона как картинка*/
    padding: 0 12px;
}

.section-title {
    /* Стили для заголовков во второй секции */
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
    max-width: 100vh;
    
}

.footer-link {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}
